a.menu-218, ul.links li.menu-218 a {
  background-image: url(/sites/default/files/styles/large/public/sites/all/themes/drupalRo/img/headerBlueDownArrow.png);
  padding-right:6px;
  background-repeat: no-repeat;
  background-position: right;
  height: 4px;
}

a.menu-317, ul.links li.menu-317 a {
  background-image: url(/sites/default/files/styles/large/public/sites/all/themes/drupalRo/img/headerBlueDownArrow.png);
  padding-right:6px;
  background-repeat: no-repeat;
  background-position: right;
  height: 4px;
}

a.menu-318, ul.links li.menu-318 a {
  background-image: url(/sites/default/files/styles/large/public/sites/all/themes/drupalRo/img/headerBlueDownArrow.png);
  padding-right:6px;
  background-repeat: no-repeat;
  background-position: right;
  height: 4px;
}

a.menu-348, ul.links li.menu-348 a {
  background-image: url(/sites/default/files/styles/large/public/sites/all/themes/drupalRo/img/headerLoginAcasa.png);
  padding-right:17px;
  background-repeat: no-repeat;
  background-position: right;
  height: 15px;
}

a.menu-349, ul.links li.menu-349 a {
  background-image: url(/sites/default/files/styles/large/public/sites/all/themes/drupalRo/img/headerLoginLogin.png);
  padding-right:19px;
  background-repeat: no-repeat;
  background-position: right;
  height: 16px;
}

a.menu-350, ul.links li.menu-350 a {
  background-image: url(/sites/default/files/styles/large/public/sites/all/themes/drupalRo/img/headerLoginInregistrare.png);
  padding-right:15px;
  background-repeat: no-repeat;
  background-position: right;
  height: 16px;
}

a.menu-351, ul.links li.menu-351 a {
  background-image: url(/sites/default/files/styles/large/public/sites/all/themes/drupalRo/img/headerLoginLogin.png);
  padding-right:19px;
  background-repeat: no-repeat;
  background-position: right;
  height: 16px;
}

