#header-logo{
	display: none;
}

#block-menu-menu-login-menu ul.menu{
	float: left;
}

#search-block-form{
	float: left;
}

#block-locale-language{
	float: left;
}

.responsive-menus.responsified span.toggler{
	padding: 1px;
	float: left;
	position: relative;
	top: -18px;
}

.responsified #block-nice-menus-1{
	top: 18px;
	left: -102px;
}